<?xml version="1.0" encoding="UTF-8" ?>
<!--xmlns="http://www.hibernate.org/xsd/hibernate-configuration"-->
<hibernate-configuration >
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.ceyloneseenvoy.ceyloneseenvoy.model.Customer" />
        <mapping class="com.ceyloneseenvoy.ceyloneseenvoy.model.CustomerAddress" />
        <mapping class="com.ceyloneseenvoy.ceyloneseenvoy.model.TourPackage" />
        <mapping class="com.ceyloneseenvoy.ceyloneseenvoy.model.TourPackageImage" />
        <mapping class="com.ceyloneseenvoy.ceyloneseenvoy.model.TourReview" />
    </session-factory>
</hibernate-configuration>